<h4><%= params[:update_at] %></h4>

<input type="text" class="datepicker" placeholder="날짜 선택" value = <%= params[:update_at] %>>
<script>
	$(function() {
		$( ".datepicker" ).datepicker({
			dateFormat: 'yyyy-mm-dd',
			onSelect: function(date) {
				var nextDate = date.getDate();
				var nextMonth = date.getMonth()+1;
				var nextYear = date.getFullYear();
				window.location.replace("/sales/" + nextYear + '-' + nextMonth + '-' + nextDate);
			}
		});
	})
</script>

<ul>
	<table class="highlight">
		<thead>
			<tr>
				<th> Title </th>
				<th> 수강생 </th>
				<th> 가격 </th>
				<th> 매출 </th>
			</tr>
		</thead>

		<% @detail_daily_revenue.each do |course| %>
		<tbody>
			<tr>
				<th> <a href=<%= course.url %> target="_blank"> <%= course.title %> </th>
					<th> <%= number_with_delimiter(course.student_count, delimeter: ',') %> 명 </th>
					<th> ₩ <%= number_with_delimiter(course.price, delimeter: ',') %> </th>
					<th> ₩ <%= number_with_delimiter(course.revenue, delimeter: ',') %> </th>
					<th> <%= link_to "상세보기", course_path(course.id) %> </th>
				</tr>
			</tbody>
			<% end %>
		</ul>